# SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

- name: Check existence of container-socket-proxy systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ container_socket_proxy_identifier }}.service"
  register: container_socket_proxy_service_stat

- name: Uninstall container-socket-proxy systemd services and files
  when: container_socket_proxy_service_stat.stat.exists | bool
  block:
    - name: Ensure container-socket-proxy systemd service is stopped
      ansible.builtin.systemd:
        name: "{{ container_socket_proxy_identifier }}"
        state: stopped
        daemon_reload: true

    - name: Ensure container-socket-proxy systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ container_socket_proxy_identifier }}.service"
        state: absent

    - name: Ensure container-socket-proxy container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ container_socket_proxy_container_network }}"
        state: absent
      register: container_socket_proxy_network_deletion_result

    - name: Ensure container-socket-proxy container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ container_socket_proxy_container_network }}
      register: container_socket_proxy_network_deletion_result
      changed_when: container_socket_proxy_container_network in container_socket_proxy_network_deletion_result.stdout

    - name: Ensure container-socket-proxy path does not exist
      ansible.builtin.file:
        path: "{{ container_socket_proxy_base_path }}"
        state: absent
