{#
SPDX-FileCopyrightText: 2023 - 2025 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Container Socket Proxy ({{ container_socket_proxy_identifier }})
{% for service in container_socket_proxy_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in container_socket_proxy_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ container_socket_proxy_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ container_socket_proxy_identifier }} 2>/dev/null || true'

# We cannot use `--read-only` since 0.1.2, because of:
# > /usr/local/bin/docker-entrypoint.sh: line 18: can't create /usr/local/etc/haproxy/haproxy.cfg: Read-only file system
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ container_socket_proxy_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --network={{ container_socket_proxy_container_network }} \
      --env-file={{ container_socket_proxy_base_path }}/env \
      --label-file={{ container_socket_proxy_base_path }}/labels \
      --mount type=bind,src={{ container_socket_proxy_container_socket_path }},dst=/var/run/docker.sock,ro \
      --tmpfs=/var/lib/haproxy:rw,noexec,nosuid,size={{ container_socket_proxy_container_tmpfs_haproxy_size }} \
      --tmpfs=/run:rw,noexec,nosuid,size={{ container_socket_proxy_container_tmpfs_run_size }} \
      {% if container_socket_proxy_container_extra_arguments | length > 0 %}
      {{ container_socket_proxy_container_extra_arguments | join(" ") }} \
      {% endif %}
      {{ container_socket_proxy_container_image }}

{% for network in container_socket_proxy_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ container_socket_proxy_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ container_socket_proxy_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ container_socket_proxy_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ container_socket_proxy_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ container_socket_proxy_identifier }}

[Install]
WantedBy=multi-user.target
