{#
SPDX-FileCopyrightText: 2023-2025 Slavi Pantaleev
SPDX-FileCopyrightText: 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% for arg in container_socket_proxy_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
